<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    {% load static %}
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
    <!-- <style>
        .debug {
            border: 1px solid red;
        }
    </style> -->
</head>
<body>
    <div class="container mt-5 debug">
        <h1 class="fw-bold debug">КОГДА</h1>
        <p class="fw-bold debug">ИЗО ВСЕХ СИЛ</p>
        <p class="fst-italic debug">ПЫТАЕШЬСЯ ПОНЯТЬ ДЖАНГО</p>
        <img src="/media/image1.jpg" class="img-fluid debug" alt="image1">
    </div>
</body>
</html>